/* :root {
  --sidebar-width: 250px;
  --espacamento-lg: 20px;
  --espacamento-md: 15px;
} */

.main-layout {
  display: flex;
  min-height: 100vh;
  /* Removendo a cor de fundo escura */
}

.main-content {
  /* A margem deve ser a largura da sidebar */
  margin-left: var(--sidebar-width); 
  flex: 1;
  padding: var(--espacamento-lg);
  
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: var(--espacamento-md);
  }
}