.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px; /* Largura padrão */
  height: 100vh;
  background-color: #1b1b1b; /* Fundo branco */
  color: #6D28D9;/* Texto escuro */
  padding: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); /* Sombra suave */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: width 0.3s ease;
  border-right: 1px solid #6D28D9;
}

.sidebar-header {
  padding: 20px;
   /* Linha divisória muito clara */
  margin-bottom: 10px;
}

.sidebar-title {
  font-size: 1.5em;
  margin: 0;
  font-weight: 600;
  font-weight: bold;
}

.sidebar-subtitle {
  font-size: 0.9em;
  margin: 5px 0 0 0;
  color: #ffffff;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  color: #8B5CF6;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
  background-color: #605f61; /* Fundo cinza claro ao passar o mouse */
  color: #40c297;
}

.nav-item.active {
  background-color: #2a2a2b; /* Fundo azul claro para item ativo */
  color: #10B981; /* Texto azul para item ativo */
  border-left: 5px solid #10B981; /* Cor de destaque azul */
}

.nav-icon {
  margin-right: 15px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.nav-text {
  font-weight: 500;
}

.sidebar-footer {
  padding: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #ffffff;
  
}
.sidebar-footer {
  padding: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #ffffff; /* Cor do texto principal do rodapé, consistente com o exemplo */
  /* Linha divisória consistente com o exemplo */
}

.sidebar-footer p {
  margin: 0 0 10px 0; /* Espaçamento após o parágrafo de copyright */
  color: #ffffff; /* Garante que o texto de copyright seja branco */
}

.sidebar-footer h3 {
  font-size: 1em; /* Tamanho de fonte um pouco maior para o título da seção */
  margin: 10px 0 5px 0; /* Espaçamento para o título "Equipe" */
  color: #7930ee; /* Cor de destaque para o título, consistente com a cor principal da sidebar */
  font-weight: 600;
}

.sidebar-footer ul {
  list-style: none; /* Remove os marcadores de lista */
  padding: 0;
  margin: 0;
}

.sidebar-footer li {
  margin-bottom: 3px; /* Espaçamento entre os nomes da equipe */
  color: #ffffff; /* Cor do texto da lista, consistente com o texto principal do rodapé */
}